@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #141414;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px white;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
}
.bg-primary-gradient {
  background: linear-gradient(
    92deg,
    #08a7ce 4.29%,
    #f60163 45.01%,
    #fc0600 61.23%,
    #f60 89.79%,
    #0ad80a 97.67%
  );
}
.button-gradient-primary {
  background: linear-gradient(
    92deg,
    #08a7ce 4.29%,
    #f60163 45.01%,
    #fc0600 61.23%,
    #f60 89.79%,
    #0ad80a 97.67%
  );
  background-clip: text;
  text-decoration: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #fff; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Framer Motion */

/* html {
  scroll-snap-type: y mandatory;
} */

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.section-div {
  /* width: 300px;
  height: 400px; */
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* .progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #fafafa;
  bottom: 50px;
} */

/* Social Animation */

@keyframes sliding-img-up-1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-722px);
  }
}

@keyframes sliding-img-up-2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1098px);
  }
}

@keyframes sliding-img-down-1 {
  0% {
    transform: translateY(-1161px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes sliding-img-down-2 {
  0% {
    transform: translateY(-1389px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 640px) {
  @keyframes sliding-img-up-1 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-936px);
    }
  }

  @keyframes sliding-img-up-2 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-1438px);
    }
  }

  @keyframes sliding-img-down-1 {
    0% {
      transform: translateY(-1511px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes sliding-img-down-2 {
    0% {
      transform: translateY(-1135px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@media (min-width: 1024px) {
  @keyframes sliding-img-up-1 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-615px);
    }
  }

  @keyframes sliding-img-up-2 {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-928px);
    }
  }

  @keyframes sliding-img-down-1 {
    0% {
      transform: translateY(-986px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes sliding-img-down-2 {
    0% {
      transform: translateY(-928px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@keyframes sliding-img-right-1 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -2880px;
  }
}

@keyframes sliding-img-left-1 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 2880px;
  }
}

.animation-sliding-img-up-1 {
  animation: sliding-img-up-1 30s linear infinite;
}

.animation-sliding-img-up-2 {
  animation: sliding-img-up-2 30s linear infinite;
}

.animation-sliding-img-down-1 {
  animation: sliding-img-down-1 30s linear infinite;
}

/* Scroll Velocity */

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  /* text-transform: uppercase; */
  font-size: 32px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 70px;
}

/* Scrollbar */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #0e9fac;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #0e9fac;
}

/* Insights card CSS */

.card {
  overflow: visible;
  width: 290px;
  height: 220px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  /* box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px; */
}

.front,
.back {
  background-color: #e8e8e8;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* border-radius: 5px; */
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #e8e8e8;
  /* border-radius: 5px; */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
/* Spotlight Animation */

.spotlight {
  width: 50%;
  max-width: 700px;
  height: 100%;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  background-color: rgba(255, 255, 255, 1);
  filter: blur(150px);
  position: absolute;
  top: 0;
  transition: 1s;
  animation: glide 3s ease-in-out 1s infinite alternate;
  transform-origin: top;
  z-index: -1;
}

@keyframes glide {
  from {
    transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(-5deg);
  }
}
